.App {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn-color {
  background-color: aquamarine;
  border-radius: 5px;
  color: #0f0f0f;
}

.navbar {
  background-color: aquamarine;
}

.event-card {
  border: 2px solid black;
  width: 80%;
}

.signup-form-container {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.input-field {
  margin: 0.5em;
}

.sign-up-button-group {
  padding: 0.5em;
}

.sign-up-btn { 
  margin-left: 0.3em;
  background-color: rgb(224, 112, 241);
  border-style: none;
}

.close-btn {
  background-color: rgb(60, 59, 59);
}

.have-account {
  margin-top: 1em;
}

.label-text {
  padding-left: 0.5em;
}

.nav-margin-right {
  margin-right: 1em;
}

.user-welcome-text {
  display: flex;
  
  font-size: small;
  padding-left: 2em;
}

.modal-container .modal-content {
  background-color: aquamarine;
}


.login-form-container {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.login-button-group {
  padding: 0.5em;
}

.close-btn {
  margin-right: 1em;
}

.login-btn {
  background-color: rgb(99, 99, 220);
  border-style: none;
}

.accordion-width {
  padding-left: 10em;
  padding-right: 10em;
}

.add-event-form {
  background-color: rgb(237, 234, 234);
  display: flex;
  flex-direction: column;

}

.accordion-container {
  
  margin: 1em auto;
  display: flex;
  justify-content: center;
}

.add-forms-input-field {
  margin-left: 0.5em;
  margin-right: 0.5em;
  
}

form input {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}


.select-venue-text {
  display: flex;
  text-align: center;
}

.error-message {
  color: red;
  font-weight: 500;
}


.toast-container {
  width:300px;
  position: fixed;
  top: 5rem;
  right: 1rem;
  z-index: 100;
}


.not-logged-in-text {
  background-color: rgb(155, 150, 150);
  color: aquamarine;
  padding: 0.7em;
  width: 100vw;
  margin-top: 0em;
}
.carousel-item {
  height: 850px;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-text-box {
  background-color: rgb(65, 66, 66);
  opacity: 90%;
  border-radius: 5px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30em;
  padding: 1em;
}

.carousel h5 {
  color: rgb(255, 255, 255);
  padding-top: 1em;;
  
}

.carousel p {
  color: rgb(255, 255, 255);
}

.our-footer {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px ;
}

.text-muted {
  margin: 0
}

.footer-icons {
  color: black;
}

.update-event-container {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.event-card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.update-btn {
  background-color: aquamarine;
  color:rgb(76, 77, 77);
  border-style: none;
  margin-bottom: 0.5em;
  margin-right: 2em
}

.delete-btn {
  background-color: rgb(76, 77, 77);
  color:rgb(255, 255, 255);
  border-style: none;
  margin-bottom: 0.5em;
}

.card-img-container {
  height: 200px; /* Adjust the desired height */
  overflow: hidden;
}

.card-img-container img {
  object-fit: cover;
  height: 100%;
}

.venue-card {
  border-radius: 7px;
  box-shadow: 0 3px 2px rgba(0, 0.1, 0, 0.2);
  margin: 4rem 4rem;
  padding: 2rem;
  background-color: #EBFFF8;
} 

.venue-page {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.background {
  background-color: #F5E7E0;
}

.image-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.venue-image {
  width: 60%;
  height: auto;
  object-fit: cover;
}

  
.event-card-body{
background-color: #EBFFF8;
  }

  .card-container {
    border-radius: 7px;
    box-shadow: 0 3px 2px rgba(0, 0.1, 0, 0.2);
  }



